<app-categoria-produtos></app-categoria-produtos>
<section class="cards-cardapio">
    <mat-card-content class="cardControler" *ngFor="let produto of produtos">
        <mat-card class="card-cardapio" *ngIf="produto.classificacao=='computadores'">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image"></div>
                <mat-card-title>{{ produto.name }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ produto.picture }}" alt="Foto do produto">
            <mat-card-content>
                <p>
                    {{ produto.description }}
                </p>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <h3 class="preco">{{produto.price | currency: 'BRL' }}</h3>
                <button mat-button>COMPRAR</button>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>
</section>
