<section class="contato-box">
    <h2>Contate-nos</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Nome</label>
      </div>
      <div class="user-box">
        <input type="E-mail" name="" required="">
        <label>E-mail</label>
      </div>
      <div class="user-box">
        <textarea rows="5" cols="30" placeholder="Digite sua mensagem aqui!">
        </textarea>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Enviar
      </a>
    </form>
</section>
  