.card-cardapio {
    max-width: 400px;
    margin-left: 60px;
    vertical-align: bottom;
    background-color: white;
    margin-top: 50px;
  }
  
  .card-header-image {
   background-size: cover; 
  }
  
.cards-cardapio {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
}
  
.card-actions{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   
  }
    
.preco {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
}