.flex-container{
    display: flex;
    justify-content: center;
}

mat-toolbar{
    background-color: rgb(17, 243, 168);
}

#menu-principal{
    color: aliceblue;
}

#sub-menu {
    padding-right: 2rem;
    text-decoration: none;
    color: aliceblue;
}

#sub-menu:hover{
    color: black;
}