<section>
    
    <mat-toolbar>
        <div id="menu-principal">
            <mat-toolbar-row>
             <span>KodEletronics</span>
            </mat-toolbar-row>
        </div>   
        <div class="flex-container"> 
            <div>
                <mat-toolbar-row >
                    <span><a id="sub-menu" class="material-icons" routerLink="/">home</a></span>
                    <span><a id="sub-menu" routerLink="/produto">Produtos</a></span> 
                    <span><a id="sub-menu" routerLink="/manutencao">Manutenção</a></span> 
                    <span><a id="sub-menu" routerLink="/contato">Contato</a></span> 
                    <span><a id="sub-menu" routerLink="/login">Login</a></span>  
                    <span><a id="sub-menu" class="material-icons" routerLink="/carrinho">shopping_cart</a></span> 
                </mat-toolbar-row>
            </div>
        </div>   
    </mat-toolbar>
</section>