<section class="cards-cardapio">
    <mat-card class="card-format">
        <mat-card-header>
           <mat-card-title>
               <a href="https://www.tecmundo.com.br/smartphone/117262-seis-praticas-preservar-bateria-smartphone.htm">Cuidados com sua bateria</a>
           </mat-card-title>
        </mat-card-header>
            <img mat-card-image src="../assets/img/portfolio/bateria.png">
    </mat-card>

    <mat-card class="card-format">
        <mat-card-header class="headerControler">
            <mat-card-title>
                <a href="https://tecnoblog.net/2379/cuidados-com-o-celular-10-dicas-para-o-seu-aparelho-durar-mais/">Limpeza de seus aparelhos</a>
            </mat-card-title>    
        </mat-card-header>
            <img mat-card-image src="../assets/img/portfolio/limpeza.png">
    </mat-card>

    <mat-card class="card-format">
        <mat-card-header>
            <mat-card-title>
                <a href="https://www.justrealmoms.com.br/os-beneficios-e-os-riscos-dos-aparelhos-eletronicos-no-desenvolvimento-das-criancas-por-carla-poppa/">Cuidados com crianças e aparelhos eletrônicos</a>
            </mat-card-title>
        </mat-card-header>
            <img mat-card-image src="../assets/img/portfolio/cuidadoInfantil.png">
    </mat-card>
</section>