<div id="rodape">
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>Endereço</h4>
            <p>
              Rua das marés, 785<br/> (41) 9999-9999, <br/> Paraná, Brasil.
            </p>
  
          <div class="col-lg-4">
            <h4>Midias Sociais</h4>
            <p>
              <a href="#">YouTube</a><br/>
              <a href="#">Twitter</a><br/>
              <a href="#">Facebook</a>
            </p>
          </div>
  
          <div class="col-lg-4">
            <h4>Sobre KodEletronics</h4>
            <p>Quem somos<br/> Contato</p>
            
          </div>
        </div>
      </div>
    </div>
  
    <div id="copyrights">
      <div class="container">
        <p>
          &copy; Copyrights <strong>KodeGroup</strong>
        </p>    
      </div>
    </div>
  </div>