.card-cardapio {
  max-width: 400px;
  margin: 60px;
  vertical-align: bottom;
  align-items: center;
  
}

.card-header-image {
  /* background-image: url('../../assets/img/icone_prato.jpg'); */
  background-size: cover;
  
}

.cards-cardapio {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;

}

.card-actions{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
 
}
  
.preco {
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
}
