<div class="container">
  <table border=1 class="table">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th></th>
    </tr>
    <tr *ngFor="let produtos of produtos">
      <!--each row id == id-->
      <td>{{ produtos.name }}</td>
      <td>{{ produtos.description }}</td>
      <td>{{ produtos.price | currency:'BRL'}}</td>
      <button id="remove" (click)="deleteRow(produtos.id)">DELETE ROW</button>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Total: {{valorTotal | currency:'BRL'}}</td>
      <!-- <td>Total</td> -->
    </tr>
  </table>
</div>