<div class="container">
  <table class="table" >
    <tr class="headerTable">
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th></th>
    </tr>
    <tr *ngFor="let produtos of produtos" class="itensTabela">
      <!--each row id == id-->
      <td>{{ produtos.name }}</td>
      <td>{{ produtos.description }}</td>
      <td>{{ produtos.price | currency:'BRL'}}</td>
      <td><button class="btn" id="remover" (click)="deleteRow(produtos.id)"><i class="fa fa-trash"></i></button></td>

    </tr>
    <span></span>
    <tr id="total">
      <td>Total:</td>
      <td></td>
      <td>{{valorTotal | currency:'BRL'}}</td>
    </tr>
  </table>
</div>