<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>GitHub</h3>
                    <ul>
                        <li><a href="https://github.com/Biguod">Bruno Vazquez</a></li>
                        <li><a href="https://github.com/lucasrocha729">Lucas Rocha</a></li>
                        <li><a href="https://github.com/marcoanlopes">Marco Antonio</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Principais</h3>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/produto">Produtos</a></li>
                        <li><a routerLink="/contato">Contato</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>KodEletronics</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">&copy; Copyrights <strong>KodeGroup</strong></p>
        </div>
    </footer>
</div>
